@font-face {
    font-family: 'amadeus';
    src: url('../fonts/amadeus/Amadeus-webfont.eot');
    src: url('../fonts/amadeus/Amadeus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amadeus/Amadeus-webfont.woff') format('woff'),
         url('../fonts/amadeus/Amadeus-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 

}
body {
	font-family: amadeus;
	background-color: #fcf;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-size: 2rem;
	margin: 0;
}